*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #98b5c2;
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgb(0, 0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: red;
    border-radius: 8px;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container form .details{
    margin-top: 30px;
}
.container form .details-payment{
    margin-top: 15px;
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #00aeff;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2f95c5;
}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgb(0, 0,0,0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}

.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    margin: 24px 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

form button:hover{
    background-color: #2f95c5;
}

.container footer{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    
}
.container footer a{
    text-decoration: none;
    color: #333;
}